@charset "UTF-8";
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
}
header img {
  width: 200px;
}
header #icone_fleche {
  position: absolute;
  left: 10px;
}
header #icone_fleche a {
  color: black;
}

/* Sur les tablettes, quand la largeur de la fenêtre fait entre 480px et 1024px */
/* Sur PC, quand la largeur de la fenêtre fait plus de 1024px */
@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: auto;
  }

  #localisation i {
    position: inherit;
    margin-right: 20px;
  }

  .intro_fonctionnement {
    text-align: center;
    margin: 50px;
  }

  #fonctionnement_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
  }
  #fonctionnement_bloc .fonctionnement {
    padding: 25px 10px;
    margin: auto;
    width: 300px;
  }
  #fonctionnement_bloc .fonctionnement_numero {
    left: -10px;
  }

  .fonctionnement i {
    position: unset;
    margin-right: 20px;
  }

  #restaurant-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .restaurant {
    width: auto;
    padding: 0 20px 20px 20px;
  }
  .restaurant .restaurant_intro {
    text-align: center;
    margin: 50px;
  }
  .restaurant .restaurant_bloc {
    width: 45%;
  }

  .restaurant_bloc_nouveau_vert {
    position: absolute;
    right: unset;
  }

  footer {
    align-items: center;
  }

  #icone_fleche {
    position: relative;
    left: unset;
  }

  .bloc_plat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .image_menu img {
    object-fit: cover;
    width: 100%;
    height: 350px;
  }

  .bloc_plat_column {
    width: 30%;
  }

  .plat {
    margin-bottom: 20px;
  }

  #btn {
    width: 200px;
  }
}
footer a {
  color: white;
  text-decoration: none;
}

.icone_main i {
  font-size: 10px;
}

footer i + a {
  margin-left: 13px;
}

.titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0 0 10px 0;
}

footer div {
  margin: 5px 0 5px 0;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

body {
  font-family: "Roboto";
  margin: auto;
}
@media all and (min-width: 480px) and (max-width: 1024px) {
  body #localisation i {
    position: inherit;
    margin-right: 20px;
  }
  body .intro_fonctionnement {
    text-align: center;
    margin: 50px;
  }
  body #fonctionnement_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  body #fonctionnement_bloc .fonctionnement {
    margin: 20px 10px;
    width: auto;
  }
  body .fonctionnement i {
    position: unset;
    margin-right: 10px;
  }
  body #restaurant-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .restaurant {
    width: auto;
    padding: 0 20px 20px 20px;
  }
  body .restaurant_intro {
    text-align: center;
    margin: 50px;
  }
  body .restaurant .restaurant_bloc {
    width: 45%;
  }
  body .restaurant_bloc_nouveau_vert {
    position: absolute;
    right: unset;
  }
  body footer {
    align-items: center;
  }
  body main {
    width: 100%;
    margin: auto;
  }
  body header i {
    position: inherit;
    margin-right: 20px;
  }
  body .image_menu img {
    height: 300px;
  }
  body .plat {
    margin-bottom: 30px;
  }
  body .bloc_plat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body #titre_menu {
    justify-content: center;
  }
  body .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
  body #btn {
    width: 200px;
  }
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  border-radius: 25px;
  background: linear-gradient(#9356dc, #ff79da);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px 20px 15px 20px;
  color: white;
  text-decoration: none;
}

a:hover #btn {
  box-shadow: 4px 8px 8px 4px #bc87ff;
  filter: brightness(1.2);
}

#intro a {
  text-decoration: none;
}

.menu a {
  text-decoration: none;
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin: 20px;
  padding: 25px 15px 25px 15px;
  box-shadow: 2px 4px 4px 2px #e6dddd;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
}
.fonctionnement .fonctionnement_numero {
  position: absolute;
  left: -10px;
  color: white;
  font-weight: lighter;
  font-size: 0.8em;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #9356dc;
}

.fonctionnement i {
  position: absolute;
  left: 40px;
  color: grey;
  font-size: 1.2em;
}

.fonctionnement:hover {
  background-color: #f5edff;
  box-shadow: 4px 8px 8px 4px #d9baff;
}
.fonctionnement:hover > i {
  color: #9356dc;
}

@keyframes animation-delay {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.animation_delay1 {
  opacity: 0;
  animation: animation-delay 1000ms;
  animation-fill-mode: forwards;
}

.animation_delay2 {
  opacity: 0;
  animation: animation-delay 1000ms 500ms;
  animation-fill-mode: forwards;
}

.animation_delay3 {
  opacity: 0;
  animation: animation-delay 1000ms 1000ms;
  animation-fill-mode: forwards;
}

@keyframes coche {
  from {
    transform: translateX(100%);
    animation-fill-mode: forwards;
  }
  to {
    transform: translateX(0%);
    animation-fill-mode: forwards;
  }
}
@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes fondu {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: 3s fondu;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.5);
  z-index: 3;
}

#loader_cercle {
  width: 150px;
  height: 150px;
  border: 15px solid #c9abee;
  border-top: 15px solid #ff79da;
  border-radius: 50%;
  animation: load 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

@keyframes color_change {
  0% {
    background: white;
    opacity: 0;
  }
  33% {
    opacity: 0.33;
    background: linear-gradient(to top, #9356dc, #ff79da);
  }
  66% {
    opacity: 0.66;
    background: linear-gradient(to top, #9356dc, #ff79da);
  }
}
.restaurant_bloc_coeur {
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}
.restaurant_bloc_coeur .fas {
  display: none;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  opacity: 1;
}
.restaurant_bloc_coeur:hover .fas, .restaurant_bloc_coeur:active .fas {
  display: block;
  animation: color_change 1s;
}
.restaurant_bloc_coeur:hover .far, .restaurant_bloc_coeur:active .far {
  display: none;
}

/* Sur les tablettes, quand la largeur de la fenêtre fait entre 480px et 1024px */
/* Sur PC, quand la largeur de la fenêtre fait plus de 1024px */
@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: auto;
  }

  #localisation i {
    position: inherit;
    margin-right: 20px;
  }

  .intro_fonctionnement {
    text-align: center;
    margin: 50px;
  }

  #fonctionnement_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
  }
  #fonctionnement_bloc .fonctionnement {
    padding: 25px 10px;
    margin: auto;
    width: 300px;
  }
  #fonctionnement_bloc .fonctionnement_numero {
    left: -10px;
  }

  .fonctionnement i {
    position: unset;
    margin-right: 20px;
  }

  #restaurant-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .restaurant {
    width: auto;
    padding: 0 20px 20px 20px;
  }
  .restaurant .restaurant_intro {
    text-align: center;
    margin: 50px;
  }
  .restaurant .restaurant_bloc {
    width: 45%;
  }

  .restaurant_bloc_nouveau_vert {
    position: absolute;
    right: unset;
  }

  footer {
    align-items: center;
  }

  #icone_fleche {
    position: relative;
    left: unset;
  }

  .bloc_plat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .image_menu img {
    object-fit: cover;
    width: 100%;
    height: 350px;
  }

  .bloc_plat_column {
    width: 30%;
  }

  .plat {
    margin-bottom: 20px;
  }

  #btn {
    width: 200px;
  }
}
@keyframes animation-delay {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.animation_delay1 {
  opacity: 0;
  animation: animation-delay 1000ms;
  animation-fill-mode: forwards;
}

.animation_delay2 {
  opacity: 0;
  animation: animation-delay 1000ms 500ms;
  animation-fill-mode: forwards;
}

.animation_delay3 {
  opacity: 0;
  animation: animation-delay 1000ms 1000ms;
  animation-fill-mode: forwards;
}

@keyframes coche {
  from {
    transform: translateX(100%);
    animation-fill-mode: forwards;
  }
  to {
    transform: translateX(0%);
    animation-fill-mode: forwards;
  }
}
@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes fondu {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: 3s fondu;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.5);
  z-index: 3;
}

#loader_cercle {
  width: 150px;
  height: 150px;
  border: 15px solid #c9abee;
  border-top: 15px solid #ff79da;
  border-radius: 50%;
  animation: load 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

@keyframes color_change {
  0% {
    background: white;
    opacity: 0;
  }
  33% {
    opacity: 0.33;
    background: linear-gradient(to top, #9356dc, #ff79da);
  }
  66% {
    opacity: 0.66;
    background: linear-gradient(to top, #9356dc, #ff79da);
  }
}
#icone_fleche {
  display: none;
}

#localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
  font-weight: bold;
  box-shadow: #b9b7b7 0 2px 2px inset;
}

#localisation i {
  margin-right: 15px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #f6f6f6;
  text-align: center;
  padding: 5px;
  margin: auto;
}

#intro h1 {
  font-size: 1.5em;
  padding: 0 40px 0 40px;
}

.intro_fonctionnement {
  margin: 30px 0 20px 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 35px 20px;
  margin: 50px 0 0 0;
}
.restaurant_titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurant_titre .restaurant_bloc_gauche {
  display: flex;
  flex-direction: column;
}
.restaurant_titre .restaurant_titre_bold {
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurant .restaurant_bloc {
  background-color: white;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #f6f6f6;
}
.restaurant .restaurant_intro {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
}

.restaurant_bloc_nouveau {
  display: flex;
  flex-direction: row;
  position: relative;
}
.restaurant_bloc_nouveau_vert {
  position: absolute;
  right: 30px;
  margin: 10px;
  border-radius: 2px;
  background-color: #99e2d0;
  padding: 5px 10px;
  color: #217460;
  font-weight: bold;
}

.restaurant img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.restaurant_bloc a {
  color: black;
  text-decoration: none;
}

a:hover .restaurant_bloc {
  box-shadow: 4px 4px 10px #f5edff;
}

/*# sourceMappingURL=homepage.css.map */
