// Animation du décalage d'apparition des plats
@keyframes animation-delay {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.animation_delay1 {
    opacity: 0;
    animation: animation-delay 1000ms;
    animation-fill-mode: forwards;
}
.animation_delay2 {
    opacity: 0;
    animation: animation-delay 1000ms 500ms;
    animation-fill-mode: forwards;
}
.animation_delay3 {
    opacity: 0;
    animation: animation-delay 1000ms 1000ms;
    animation-fill-mode: forwards;
}
// animation de la coche coulissante
@keyframes coche {
    
}
// animation loader
@keyframes load {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes fondu {
    to {
        
    
        visibility: hidden;
    }
   
}
    
#loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    animation: fondu 0s ease-in 4.5s;   
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 169, 169, .5);
    z-index: 3;
    overflow: hidden;
}
    

#loader_cercle {
    width: 150px;
    height: 150px;
    border: 15px solid lighten($color-primaire, $amount: 20);
    border-top: 15px solid $color_secondaire;
    border-radius: 50%;
    animation: load 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s;
    z-index: 3;
}
@keyframes color_change {
    from {
        color: white;
    }
    to {
        color: $color-primaire;
    }
}