// Animation du décalage d'apparition des plats
@keyframes animation-delay {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.animation_delay1 {
    opacity: 0;
    animation: animation-delay 1000ms;
    animation-fill-mode: forwards;
}
.animation_delay2 {
    opacity: 0;
    animation: animation-delay 1000ms 500ms;
    animation-fill-mode: forwards;
}
.animation_delay3 {
    opacity: 0;
    animation: animation-delay 1000ms 1000ms;
    animation-fill-mode: forwards;
}
// animation de la coche coulissante
@keyframes coche {
    
}