@import "../utils/_variables";
@import "../component/animation";

.plat:hover {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
.fond_bleu {
    background-color: $color_tertiaire;
    border: none;
    width: 65px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: coche .5s ease-in-out;
    transition-property: margin-right;
    overflow: hidden;
    
}

.fond_bleu i {
    animation: rotate 0.5s ease-in-out;
    rotate: 90deg;
}
}
.fond_bleu i {
    color: white;
}