@import "../utils/_variables";
@import "../component/animation";

.plat:hover {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .fond_bleu {
    background-color: $color_tertiaire;
    border: none;
    width: 65px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: coche 1s both;
  }
  .fond_bleu i {
    animation: rotate 1s;
  }
}
.fond_bleu i {
  color: white;
}
