@import "../utils/_variables";
@import "../component/animation";

.restaurant_bloc_coeur {
  .fas {
    display: none;
    
  }
  font-size: 1.2em;
  padding: 10px;

  &:hover {
    .fas {
      display: block;
      animation: color_change 2s infinite;
    }
    .far {
      display: none;
    }
  }
}
