@import "../utils/_variables";

.fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: $color_fond_gris;
    margin: 20px;
    padding: 25px 15px 25px 15px;
    box-shadow: 2px 4px 4px 2px rgb(230, 221, 221);
    font-size: 0.9em;
    font-weight: bold;
    position: relative;
    .fonctionnement_numero {
        position: absolute;
        left: -10px;
        color: white;
        font-weight: lighter;
        font-size: 0.8em;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: $color_primaire;
    }
}
.fonctionnement i {
    position: absolute;
    left: 40px;
    color: grey;
    font-size: 1.2em;
}

.fonctionnement:hover {
    > i {
        color: $color_primaire;
    }
    background-color: $color_fond_gris_hover;
    box-shadow: 4px 8px 8px 4px darken($color_fond_gris_hover, $amount: 10);
}