@import "../utils/_variables";
@import "../layouts/header";
@import "../base/base";
@import "../component/btn";
@import "../component/fonctionnement";
@import "../component/coeur";


#icone_fleche {
    display: none;
}
#localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 15px;
    font-weight: bold;
    box-shadow: rgb(185, 183, 183) 0 2px 2px inset;
}
#localisation i {
    position: absolute;
    left: 100px;
}
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $color_fond_gris;
    text-align: center;
    padding: 5px;
    margin: auto;
}
#intro h1 {
    font-size: 1.5em;
    padding: 0 40px 0 40px;
}
.intro_fonctionnement {
    margin: 30px 0 20px 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:$color_fond_gris;
    padding: 35px 20px;
    margin: 50px 0 0 0;
    .restaurant_titre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .restaurant_bloc_gauche {
            display: flex;
            flex-direction: column;
        }
        .restaurant_titre_bold {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .restaurant_bloc {
        background-color: white;
        margin: 10px 0;
        border-radius: 15px;
        box-shadow: 2px 2px 10px $color_fond_gris;
    }
    
    .restaurant_intro {
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 5px;
    }
}
.restaurant_bloc_nouveau {
    display: flex;
    flex-direction: row;
    .restaurant_bloc_nouveau_vert {
        position: absolute;
        right: 30px;
        margin: 10px;
        border-radius: 2px;
        background-color: $color_tertiaire;
        padding: 5px 10px;
        color: darken($color_tertiaire, $amount: 45);
        font-weight: bold;
    }
}
.restaurant img {
    width: 100%;
    height: 160px;
    object-fit:cover;
    object-position:center;
    border-radius: 15px 15px 0 0;
    position: relative;
    
}
.restaurant_bloc a {
    color: black;
    text-decoration: none;
}
a:hover .restaurant_bloc {
    box-shadow: 4px 4px 10px $color_fond_gris_hover;
}
a:focus .restaurant_bloc_gauche {
    color: darken($color_tertiaire, $amount: 45);
}
a:hover .restaurant_bloc_gauche {
    color: darken($color_tertiaire, $amount: 45);
}