@import "../utils/_variables";
@import "../layouts/footer";
@import "../base/base";
@import "../layouts/menu-type";
@import "../layouts/header";


body {
    font-family:'Roboto', sans-serif;
    width: 100%;
    margin: auto;
}
h1 {
    font-family: 'Shrikhand', cursive;;
}
p {
    font-size: $p-font-size;
}
footer {
    @include footer;
}
.image_menu img {
    width: 100%;
}

