@import "../utils/_variables";
@import "../layouts/footer";
@import "../base/base";
@import "../layouts/menu-type";
@import "../layouts/header";
@import "../component/btn";


body {
    font-family:'Roboto', sans-serif;
    margin: auto;
    @include responsive;
}
h1 {
    font-family: 'Shrikhand', cursive;;
}
footer {
    @include footer;
}



