$color_primaire: #9356dc;
$color_secondaire: #ff79da;
$color_tertiaire: #99e2d0;
$color_btn: #9356dc, #ff79da;
$color_fond_gris: #f6f6f6;
$color_fond_gris_hover: #f5edff;

$body_font: "Roboto";
$title_font: "Shrikhand";
