$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertaire: #99E2D0;
$color_btn: #9356DC, #FF79DA;
$color_fond_gris: #F6F6F6;

/* Sur les tablettes et PC, quand la largeur de la fenêtre fait plus de 480px */
@mixin responsive {
    @media all and (min-width: 480px) {
        #localisation i {
            position:inherit;
            margin-right: 20px;
        }
        .intro_fonctionnement {
            text-align: center;
            margin: 50px;
        }
        #fonctionnement_bloc {
            width: 60%;
            margin: auto;
        }
        .fonctionnement {
            .fonctionnement_numero {
                position: inherit;
                margin: 10px;
            }
        }
        .fonctionnement i {
            position: inherit;
            margin-right: 20px;
        }
        .restaurant {
            .restaurant_intro {
            text-align: center;
            margin: 50px;
        }
            .restaurant_bloc {
                width: 60%;
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .restaurant_bloc_nouveau {
            .restaurant_bloc_nouveau_vert {
                position: absolute;
                right: unset;
        }
    }
    }
    
}