@mixin footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}
.icone_footer a {
    margin-left: 20px;
}
.icone_footer i {
    font-size: 15px;
}
h6 {
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    margin: 0 0 10px 0;
}
footer div {
    margin: 5px 0 5px 0;
}
