/* Sur les tablettes, quand la largeur de la fenêtre fait entre 480px et 1024px */
@mixin responsive {
  @media all and (min-width: 480px) and (max-width: 1024px) {
    // sur la homepage

    #localisation i {
      position: inherit;
      margin-right: 20px;
    }
    .intro_fonctionnement {
      text-align: center;
      margin: 50px;
    }
    #fonctionnement_bloc {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      
      .fonctionnement {
        margin: 20px 10px;
        width: auto;
      }
    }
    .fonctionnement i {
      position: unset;
      margin-right: 10px;
      
    }
    #restaurant-bloc {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .restaurant {
      width: auto;
      padding: 0 20px 20px 20px;
      .restaurant_intro {
        text-align: center;
        margin: 50px;
      }
      .restaurant_bloc {
        width: 45%;
      }
    }
    .restaurant_bloc_nouveau {
      .restaurant_bloc_nouveau_vert {
        position: absolute;
        right: unset;
      }
    }
    footer {
      align-items: center;
    }
    // sur les pages menus
    main {
      width: 100%;
      margin: auto;
    }

    header i {
      position: inherit;
      margin-right: 20px;
    }
    .image_menu img {
        height: 300px;
      }
    .plat {
      margin-bottom: 30px;
    }
    .bloc_plat {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .bloc_plat_column {
      min-width: 49%;
    }
    #titre_menu {
        justify-content: center;
        h1 {
          margin-right: 20px;
        }
      }
      .menu {
          padding-left: 20px;
          padding-right: 20px;
      }
      #btn {
        width: 200px;
      }
  }
}
/* Sur PC, quand la largeur de la fenêtre fait plus de 1024px */
@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  // sur la homepage

  #localisation i {
    position: inherit;
    margin-right: 20px;
  }
  .intro_fonctionnement {
    text-align: center;
    margin: 50px;
  }
  #fonctionnement_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    .fonctionnement {
      padding: 25px 10px;
      margin: auto;
      width: 300px;
      .fonctionnement_numero {
        left: -10px;
      }
    }
  }
  .fonctionnement i {
    position: unset;
    margin-right: 20px;
  }
  #restaurant-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurant {
    width: auto;
    padding: 0 20px 20px 20px;
    .restaurant_intro {
      text-align: center;
      margin: 50px;
    }
    .restaurant_bloc {
      width: 45%;
    }
  }
  .restaurant_bloc_nouveau {
    .restaurant_bloc_nouveau_vert {
      position: absolute;
      right: unset;
    }
  }
  footer {
    align-items: center;
  }

  // sur les pages menus
  #icone_fleche {
    position: relative;
    left: unset;
  }
  .bloc_plat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image_menu img {
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .bloc_plat_column {
    width: 30%;
  }
  .plat {
    margin-bottom: 20px;
  }
  #titre_menu {
    justify-content: center;
    h1 {
      margin-right: 20px;
    }
  }
  #btn {
    width: 200px;
  }
}
