.menu {
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    padding: 15px;
}
.plat {
    border-radius: 20px;
    background-color:white;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #E7E7E7;
}
#titre_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ligne_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#titre_menu i {
    font-size: 25px;
}
h2 {
    font-weight: lighter;
    font-size: 18px;
}
h3 {
    margin: 15px 0 0 5px;
}
h4 {
    margin: 5px 5px 10px 5px;
    font-weight: lighter;
}
h5 {
    margin: 5px 15px 10px 5px;
}
