.menu {
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color:#F6F6F6;
    padding: 15px; 
    position: relative;
    margin-top: -35px;
}
.plat {
    border-radius: 15px;
    background-color:white;
    margin-bottom: 10px;
    box-shadow: 2px 4px 4px 2px rgb(230, 221, 221);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.texte_gauche {
    padding: 10px 10px 0 10px;
    width: 100%;
}
#titre_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ligne_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding: 5px;
}
#titre_menu i {
    font-size: 25px;
}

h2 {
    font-weight: lighter;
    font-size: 18px;
    border-bottom:solid $color_tertiaire;
    width: 13%;
    padding-top: 10px;
}
.nom_plat {
    margin: 15px 0 0 5px;
}
.sous-titre {
    font-weight: lighter;
}
.image_menu img {
    width: 100%;
}
// Animations
